body {
    font-family: 'Inter', sans-serif;
    min-width: 100%;
    height: 100vh;
}

.navbar {
    background-color: rgb(11, 3, 52);
    padding: 0;
    margin: 0;
}

.offcanvas {
    background-color: rgb(11, 3, 52);
    width: 100%;
    border: none;
    right: 0;
}

.quem-somos {
    margin-top: 100px;
}

.navbar-toggler {
    color: rgb(11, 3, 52);
}

.navbar-collapse {
    float: right;
}

.nav-link {
    color: white;
    font-size: 15px;
    text-transform: uppercase;

}

h3 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
}

h4 {
    font-weight: bold;
    font-size: 25px;
}

h5 {
    font-weight: bold;
    font-size: 22px;
}
p {
    font-size: 18px;
}

.margin {
    padding-top: 20px;
    padding-bottom: 20px;
}

.parceiros {
    background-color: #e2ebfe;
}

.servicos {
   margin-bottom: 30px;
}

.bg-footer {
    background-color: rgb(11, 3, 52);
    padding: 20px;
    color: white;
    font-style: italic;
    font-size: 15px;
}

@media screen and (max-width: 768px) {
    .col-lg-3 {
        margin-bottom: 50px;
    }
}